@page
@using static Helpers.StringHelpers
@model Site.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Composers";
    ViewData["Description"] = "List of classical music composers grouped by periods.";
}

<h1>Composers</h1>

@foreach (var period in Model.Periods)
{
    <h2>@period.Name, @period.YearStart.ToString()&ndash;@(period.YearEnd.HasValue ? period.YearEnd.ToString() : "")</h2>
    <hr/>
    <div class="card-list">
        @foreach (var composer in period.Composers)
        {
            <a href="@(composer.Enabled ? $"/composer/{composer.Slug}" : "#")">
                <div class="card @(composer.Enabled ? "" : "disabled")">
                    <div>
                        <span>@composer.LastName, </span>
                        <span class="card__light-text">@composer.FirstName</span>
                    </div>
                    <div class="card__subtitle">
                        <span>@string.Join(", ", composer.Countries)</span>
                        <span class="vertical-separator"></span>
                        <span>@formatYearsRangeStrict(composer.YearBorn, composer.YearDied)</span>
                    </div>
                </div>
            </a>
        }
    </div>
}