@page
@using Models
@model Site.Pages.IndexModel
@{
    ViewData["Title"] = "Periods";
}

@foreach (var period in Model.Periods)
{
    <h1>@period.Name, @period.YearStart.ToString()&ndash;@(period.YearEnd.HasValue ? period.YearEnd.ToString() : "")</h1>
    <hr />
    <div class="composer-list">
        @foreach (var composer in period.Composers ?? new Composer[0])
            {
                <div class="composer">
                    <div>
                        <span class="composer__last-name">@composer.LastName, </span>
                        <span class="composer__first-name">@composer.FirstName</span>
                    </div>
                    <div class="composer__subtitle">
                        <span>@composer.Countries</span>
                        <span class="composer__separator"></span>
                        <span>@composer.YearBorn.ToString()&ndash;@(composer.YearDied.HasValue ? composer.YearDied.ToString() : "")</span>
                    </div>
                </div>
            }
    </div>
    
}
