@page
@using Models
@using static Helpers.StringHelpers
@model Site.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Periods";
}

@foreach (var period in Model.Periods)
{
    <h2>@period.Name, @period.YearStart.ToString()&ndash;@(period.YearEnd.HasValue ? period.YearEnd.ToString() : "")</h2>
    <hr/>
    <div class="card-list">
        @foreach (var composer in period.Composers ?? new Composer[0])
        {
            <a href="/@composer.Slug">
                <div class="card">
                    <div>
                        <span>@composer.LastName, </span>
                        <span class="card__light-text">@composer.FirstName</span>
                    </div>
                    <div class="card__subtitle">
                        <span>@string.Join(", ", composer.Countries)</span>
                        <span class="vertical-separator"></span>
                        <span>@formatYearsRangeStrict(composer.YearBorn, composer.YearDied)</span>
                    </div>
                </div>
            </a>
        }
    </div>
}