@page "~/composer/{composerSlug}/work/{workId}"
@using static Helpers.StringHelpers
@model Site.Pages.WorkModel

<h1>@Model.Work.Title</h1>
<div class="header-subtitle">by @Model.Composer.FirstName @Model.Composer.LastName</div>

@if (Model.ChildWorks.Length > 0)
{
    <h2>Individual Works</h2>
    <hr/>
    <div class="card-list">
        @foreach (var work in Model.ChildWorks)
        {
            <div class="card">
                <div>
                    <span>@work.Title </span>
                    @if (work.No != null)
                    {
                        <span>No. @work.No.ToString() </span>
                    }
                    @if (work.Key != null)
                    {
                        <span>in @work.Key</span>
                    }
                </div>
                <div class="card__subtitle">
                    @if (work.CatalogueName != null)
                    {
                        <span>@work.CatalogueName @work.CatalogueNumber.ToString() @work.CataloguePostfix</span>
                        <span class="vertical-separator"></span>
                    }
                    <span>@formatYearsRangeLoose(work.YearStart, work.YearFinish)</span>
                </div>
            </div>
        }
    </div>
}

<h2>Recommended Recordings</h2>
<hr/>

<div class="card-list">
    @foreach (var recording in Model.Recordings)
    {
        <div class="card illustrated">
            <img class="cover" src="~/img/covers/@recording.CoverName" alt="Cover"/>
            <div>
                @foreach (var performer in recording.Performers)
                {
                    <div>
                        @if (performer.Instrument != null)
                        {
                            <span>@performer.FirstName @performer.LastName, <em>@performer.Instrument</em></span>
                        }
                        else
                        {
                            <span>@performer.FirstName @performer.LastName</span>
                        }
                    </div>
                }
                <div class="card__subtitle">
                    <span>@recording.Label</span>
                    <span class="vertical-separator"></span>
                    <span>@formatWorkLength(recording.Length)</span>
                </div>
                <div class="card__streamers">
                    @foreach (var streamer in recording.Streamers)
                    {
                        <div class="card__streamer-el">
                            <a href="@streamer.Prefix@streamer.Link"><img src="~/img/@streamer.Icon" alt="Streaming service logo" /></a>
                        </div>
                    }
                </div>
            </div>

        </div>
    }
</div>