@page "~/composer/{composerSlug}/work/{workId}"
@using static Helpers.StringHelpers
@model Site.Pages.WorkModel
@{
    ViewData["Title"] = $"{Model.Work.Title} - {Model.Composer.LastName}";
}


<h1>
    @if (Model.Work.CatalogueName != null)
    {
        <span>@Model.Work.Title, @Model.Work.CatalogueName @Model.Work.CatalogueNumber.ToString()@Model.Work.CataloguePostfix</span>
    }
    else
    {
        <span>@Model.Work.Title</span>
    }
</h1>
<div class="header-subtitle">
    <span><a href="/composer/@Model.Composer.Slug">@Model.Composer.FirstName @Model.Composer.LastName</a>,</span>
    <span>@formatYearsRangeLoose(Model.Work.YearStart, Model.Work.YearFinish)</span>
</div>

@if (Model.ChildWorks.Length > 0)
{
    <h2>Individual Works</h2>
    <hr/>
    <div class="card-list">
        @foreach (var work in Model.ChildWorks)
        {
            <div class="card">
                <div>
                    <span>@work.Title </span>
                    @if (work.No != null)
                    {
                        <span>No. @work.No.ToString() </span>
                    }
                    @if (work.Key != null)
                    {
                        <span>in @work.Key</span>
                    }
                </div>
                <div class="card__subtitle">
                    @if (work.CatalogueName != null)
                    {
                        <span>@work.CatalogueName @work.CatalogueNumber.ToString() @work.CataloguePostfix</span>
                        <span class="vertical-separator"></span>
                    }
                    <span>@formatYearsRangeLoose(work.YearStart, work.YearFinish)</span>
                </div>
            </div>
        }
    </div>
}

<h2>Recommended Recordings</h2>
<hr/>

<div class="card-list full-width">
    @foreach (var recording in Model.Recordings)
    {
        <div class="card illustrated">
            <img class="cover" src="~/img/covers/@recording.CoverName" alt="Cover"/>
            <div>
                @foreach (var performer in recording.Performers)
                {
                    <div class="card__title">
                        @if (performer.Instrument != null)
                        {
                            <span>@performer.FirstName @performer.LastName</span>
                            <span class="card__instrument">@performer.Instrument</span>
                        }
                        else
                        {
                            <span>@performer.FirstName @performer.LastName</span>
                        }
                    </div>
                }
                <div class="card__subtitle">
                    @if (recording.Label != null)
                    {
                        <span>@recording.Label</span>
                        <span class="vertical-separator"></span>
                    }
                    @if (recording.YearStart != null || recording.YearFinish != null)
                    {
                        <span>@formatYearsRangeLoose(recording.YearStart, recording.YearFinish)</span>
                        <span class="vertical-separator"></span>
                    }
                    <span>@formatWorkLength(recording.Length)</span>
                </div>
                <div class="card__streamers">
                    @foreach (var streamer in recording.Streamers)
                    {
                        <div class="card__streamer-el">
                            <a href="@streamer.Prefix@streamer.Link">
                                <img src="~/img/@streamer.Icon" alt="Streaming service logo"/>
                            </a>
                        </div>
                    }
                </div>
            </div>

        </div>
    }
</div>